@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blinker { 50% { opacity: 0.3; } }
.animate-blink { animation: blinker 1.5s linear infinite; }
.no-scrollbar::-webkit-scrollbar { display: none; }

@keyframes pulse-blue { 
  0% { transform: scale(1); opacity: 1; } 
  50% { transform: scale(1.2); opacity: 0.5; } 
  100% { transform: scale(1); opacity: 1; } 
}

.animate-location { animation: pulse-blue 2s infinite; }
.map-grid { 
  background-image: radial-gradient(circle, #e5e7eb 1px, transparent 1px); 
  background-size: 20px 20px; 
}
